.header__lang-link {
  margin: auto 0px 6px 18px;
  font-size: 24px;
  line-height: 1.17;
}

.header__lang-link[id="ru"]:lang(ru) {
  border-bottom: solid #fff 2px;
}

.header__lang-link[id="en"]:lang(en) {
  border-bottom: solid #fff 2px;
}

@media screen and (max-width: 730px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
