.cover__link {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1184px;
  height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 730px) {
  .cover__link {
    width: 730px;
    height: 456px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    width: 320px;
    height: 200px;
  }
}
