.place {
  margin-top: 80px;
  max-width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-template-rows: min-content min-content;
  gap:48px 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
}

.place:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 800px) {
  .place {
    margin-top: 73px;
    grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 730px) {
  .place {
    margin-top: 49px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 32px;
    grid-template-areas: none
    ;
  }
}
