.place__url-heading {
  margin: 12px 0;
  color: #AAAAAA;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 800px) {
  .place__url-heading {
    line-height: 1;
  }
}
